@model Domain.AttributeDomain
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Create Attribute
                            <small>Bigdeal Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Login")"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item"> Attribute </li>
                        <li class="breadcrumb-item active">Create  Attribute </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Edit", "Attribute", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card tab2-card">
                        <div class="card-header">
                            <h5> Update Attribute</h5>
                        </div>
                        <div class="card-body">


                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @Html.HiddenFor(model => model.AttributeId)
                           @* @Html.HiddenFor(model => model.GRP_CD)*@
                            <div class="form-group row">
                                <div class="col-xl-3 col-md-4">
                                    <label for="validationCustom0"><span>*</span>Name</label>
                                </div>

                                <div class="col-xl-8 col-md-7">
                                    @*ViewBag.CityList is holding all the cities values*@
                                    @Html.EditorFor(model => model.AttributeName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AttributeName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                         
                            <div class="pull-right">

                                @*<button type="button" class="btn btn-primary">Save</button>*@
                                <input type="submit" class="btn btn-primary" value="Save" id="btnSubmit" />
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    }
</div>



