@model List<Domain.GRP_MASTERDomain>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- breadcrumb start -->
<div class="breadcrumb-main ">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-contain">
                    <div>
                        <h2>category</h2>
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li><a href="javascript:void(0)">category</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="section-big-pt-space ratio_asos b-g-light">
    <div class="collection-wrapper">
        <div class="custom-container">
            <div class="row">
                <div class="col-sm-3 collection-filter category-page-side">
                    <!-- side-bar colleps block stat -->
                    <div class="collection-filter-block creative-card creative-inner category-side">
                        <!-- brand filter start -->
                        <div class="collection-mobile-back">
                            <span class="filter-back"><i class="fa fa-angle-left" aria-hidden="true"></i> back</span>
                        </div>
                        <div class="collection-collapse-block open">
                            <h3 class="collapse-block-title mt-0">brand</h3>
                            <div class="collection-collapse-block-content">
                                <div class="collection-brand-filter">
                                    @foreach (var brand in ViewBag.Brands)
                                    {
                                        <div class="custom-control custom-checkbox  form-check collection-filter-checkbox">
                                            <input type="checkbox" class="custom-control-input form-check-input brandCheckbox" value="@brand.BrandId">
                                            <label class="custom-control-label form-check-label" for="zara">@brand.BrandName</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- silde-bar colleps block end here -->
                    <!-- side-bar single product slider start -->
                    <!-- side-bar single product slider end -->
                    <!-- side-bar banner start here -->
                    <div class="collection-sidebar-banner">
                        <a href="javascript:void(0)"><img src="../assets/images/category/side-banner.png" class="img-fluid " alt=""></a>
                    </div>
                    <!-- side-bar banner end here -->

                </div>
                <input type="hidden" value="@ViewBag.BrandId" id="hdnCatId" />

                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Search a Product", @id = "txtSearchCat" })

                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <input type="submit" value="Search" class="btn btn-success" id="CatSearch" />
                            </div>
                            <br />
                            <div class="collection-product-wrapper">
                                <div class="product-top-filter">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="filter-main-btn"><span class="filter-btn  "><i class="fa fa-filter" aria-hidden="true"></i> Filter</span></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">

                                            <div class="product-filter-content">

                                                <div class="collection-view">
                                                    <ul>
                                                        <li><i class="fa fa-th grid-layout-view"></i></li>
                                                        <li><i class="fa fa-list-ul list-layout-view"></i></li>
                                                    </ul>
                                                </div>

                                                <div class="product-page-per-view">
                                                    <select id="drpRecord">
                                                        <option value="10">10 Products Par Page</option>
                                                        <option value="24">24 Products Par Page</option>
                                                        <option value="50">50 Products Par Page</option>
                                                        <option value="100">100 Products Par Page</option>
                                                    </select>
                                                </div>
                                                <div class="product-page-filter">
                                                    <select>
                                                        <option value="High to low">Sorting items</option>
                                                        <option value="Low to High">50 Products</option>
                                                        <option value="Low to High">100 Products</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="grid-list">

                                    @Html.Action("GetCategoryList", "Category", new { brandId = @ViewBag.BrandId })
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- section End -->


<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />
<script src="~/Assets/JS/jquery-3.3.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>

<script type="text/javascript">

    jQuery(document).ready(function ($) {
        $("#txtSearchCat").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Search/AutoCompleteCat/',
                    data: "{'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Text, value: item.Text };
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#hfCustomer").val(i.item.val);
            },
            minLength: 1
        });

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        var record = $("#drpRecord :selected").val();
        var ShortBy = "";
        var CatId = $("#hdnCatId").val();
        var currentPageIndex = "";
        var checkedValues = [];
        var categorySearch = "";
        $("#CatSearch").click(function () {
            categorySearch = $("#txtSearchCat").val();
            fnGetCategories(ShortBy, currentPageIndex, CatId, record, checkedValues, categorySearch);
        });

        $("#drpRecord").change(function () {

            record = $('option:selected', this).val();
            fnGetCategories(ShortBy, currentPageIndex, CatId, record, checkedValues, categorySearch);
        });

        $("#drpShort").change(function () {
            ShortBy = $('option:selected', this).text();
            fnGetCategories(ShortBy, currentPageIndex, CatId, record, checkedValues, categorySearch);
        });

        $(".page-link").click(function () {
            currentPageIndex = $(this).val();
            fnGetCategories(ShortBy, currentPageIndex, CatId, record, checkedValues, categorySearch);
        });

        $(".brandCheckbox").change(function () {
            var checked = $(this).is(':checked');
            if (checked) {
                checkedValues.push(this.value)

            } else {
                var removeItemIndex = checkedValues.indexOf(this.value);
                if (removeItemIndex != -1) checkedValues.splice(removeItemIndex, 1);  //remove at this index - remove 1
            }
            fnGetCategories(ShortBy, currentPageIndex, CatId, record, checkedValues, categorySearch);
        });

    });

    function fnGetCategories(ShortBy, currentPageIndex, brandId, record, checkedValues, categorySearch) {
        debugger;
        var passdata = {
            brandId: brandId,
            record1: record,
            ShortBy: ShortBy,
            page: currentPageIndex,
            checkedValues: checkedValues,
            SearchString: categorySearch
        };
        $.ajax({
            url: '/Category/GetCategoryList',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            data: JSON.stringify(passdata),
            success: function (response) {
                var returnedData = JSON.parse(JSON.stringify(response));
                $("#grid-list").empty();
                $("#grid-list").html(returnedData);
            },

        });

    }


</script>